* {
    box-sizing: border-box;
}

body {
    background-color: #181820;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form-group  {
    padding: 5px 25px;
}

button {
    display: flex;
    align-items: center;
}

.icon {
    width: 22px;
    margin-right: 20px;
}

.fund {
    background: linear-gradient(#18181f, #1b1b22, #121218);
    padding: 30px 35px;
    border: 1.5px solid #383838;
    border-radius: 15px;
}

.form-input {
    font-size: 15px;
    text-align: left;
    color: white;
    background-color: #181820;
    border: 1.5px solid #2e2c2c;
    border-radius: 15px;
    width: 100%;
    padding: 15px 50px;
    transition: background-color 0.3s ease, border 0.4s ease;
}

.form-input:hover {
    background-color: #2a2a31;
}

.form-input:active {
    border-color: white;
}

.form-input:focus {
    outline: none;
    border-color: white;
    background-color: #2a2a31;
}

.remember-checkbox {
    cursor: pointer;
}

.lembrar-me {
    padding-left: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a3a3a3;
}

.senha {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.senha:hover {
    text-decoration: underline;
}

.form-group > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-checkbox {
    margin-top: 15px;
}

input[type="checkbox"] {
    accent-color: rgb(0, 119, 255);
}

.highlight {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.815);
    color: black;
}

.highlight:hover {
    background-color: rgb(255, 255, 255);
}

.highlight:focus {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    
    .form-group  {
        padding: 5px 10px;
    }

    .form-input {
        font-size: 14px;
        padding: 15px 15px;
    }
}

@media (max-width: 360px) {
    
    .form-group  {
        padding: 5px 0px;
        margin: 0;
    }

    .fund {
        margin: 5px 10px;
    }

    .form-input {
        font-size: 12px;
        padding: 10px 15px;
    }

    .lembrar-me {
        padding-left: 5px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        color: #a3a3a3;
    }

    .senha {
        margin-top: 15px;
        font-size: 11px;
        color: #ffffff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
}

/* TIPOGRAFIA */

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


