* {
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.form-group  {
    display: flex;
    flex-direction: row;
    padding: 5px 25px;
}

.form-input {
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: rgb(22, 22, 22);
    border: 1px solid rgb(41, 41, 41);
    border-radius: 15px;
    width: 100%;
    padding: 15px 50px;
    transition: background-color 0.3s ease, border 0.4s ease;
}

.form-input:hover {
    background-color: rgb(41, 41, 41);
}

.form-input:active {
    border-color: white;
}

.form-input:focus {
    outline: none;
    border-color: white;
    background-color: rgb(41, 41, 41);
}


.highlight {
    margin-top: 25px;
    background-color: rgb(0, 197, 148);
    color: black;
}

.highlight:hover {
    background-color: rgb(0, 255, 170);
}

.highlight:focus {
    background-color: rgb(0, 255, 170);
    border-color: rgb(0, 255, 170);
}

/* TIPOGRAFIA */

h1 {
    font-size: 2.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


